@tailwind base;

*{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}
a:hover{
    color: theme('colors.red')
}
@tailwind components;
@tailwind utilities;